main > div.circle_gallery {
    width: 1280px;
    height: 204px;
    margin: 40px 18% 16px 18%;
    padding: 0 8px;
    align-items: center;
    text-align: center;
  }
  main > div.circle_gallery > div.circle {
    width: 170px;
    height: 100%;
    display: inline-block;
    margin: -4px;
  }
  main > div.circle_gallery > div.circle>a {
    width: 170px;
    height: 100%;
    display: inline-block;
  }
  main > div.circle_gallery >div.circle>a>img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: inline-block;

  }
  main > div.circle_gallery > div.circle>a>p {
    font-size: 12px;
    font-family: fa;
    color: black;
  }